*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    position: relative;
    background-color: rgb(183, 241, 241);

    animation: container 9s linear alternate infinite;
}

@keyframes container {
    0%{
        background-color: rgb(190, 238, 238);
    }

    50%{
        background-color: rgb(18, 108, 243);
    }

    100%{
        background-color: rgb(26, 26, 100);
    }
}

/* Tog'lar */

.tog{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 330px solid transparent;
    border-bottom: 300px solid rgb(5, 5, 53);
    border-right: 330px solid transparent;
    top: 450px;
    z-index: 2;
}

.one{
    margin-left: 170px;
}

.two{
    margin-left: 420px;
}

.three{
    margin-left: 570px;
}

/* Quyosh */


.quyosh{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: yellow;
    margin-left: 650px;
    box-shadow: 1px 1px 100px rgb(18, 18, 17);
    z-index: 1;

    animation: quyosh 9s linear alternate infinite ;
}

@keyframes quyosh {
    from{
        transform: translateY(0);
        background-color: yellow;
        box-shadow: 1px 1px 100px rgb(192, 192, 28);
    }

    to{
        transform: translateY(550px);
        background-color: rgb(122, 122, 63);
        box-shadow: 0px 0px 0px rgb(80, 91, 50);
    }
}

/* Bulutlar */

.bulut{
    position: absolute;
    border-radius: 40%;
    width: 250px;
    height: 150px;
    background-color: gray;
    z-index: 3;
    margin-top: 50px;

    animation: bulut 14s linear alternate infinite;
}



@keyframes bulut {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(2000px);
    }
}

/* Yulduzlar */

.yulduz{
    position: absolute;
    width: 5px;
    height:5px;
    border-radius: 50%;
    background-color: #fff;

    animation: yulduz 9s linear alternate infinite;
}

@keyframes yulduz {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: .9;
    }
}

.bir{
    margin: 50px;
}

.ikki{
    margin: 300px;
}

.uch{
    margin: 210px;
}

.turt{
    margin: 479px 500px;
}

.besh{
    margin: 420px;
}

.olti{
    margin-top: 137px;
    margin-left: 499px;
}

.yetti{
    margin-top: 59px;
    margin-left: 263px;
}

.sakkiz{
    margin-top: 10px;
    margin-left: 576px;
}

.toqqiz{
    margin-top: 19px;
    margin-left: 259px;
}

.un{
    margin-top: 40px;
    margin-left: 723px;
}

.unbir{
    margin-top: 90px;
    margin-left: 1354px;
}

.unikki{
    margin-top: 77px;
    margin-left: 1232px;
}

.unuch{
    margin-top: 10px;
    margin-left: 1000px;
}

.unturt{
    margin-top: 250px;
    margin-left: 999px;
}

.unbesh{
    margin-top: 108px;
    margin-left: 1144px;
}

.unolti{
    margin-top: 34px;
    margin-left: 1021px;
}

.unyetti{
    margin-top: 130px;
    margin-left: 879px;
}

.unsakkiz{
    margin-top: 259px;
    margin-left: 1175px;
}

.untoqqiz{
    margin-top: 72px;
    margin-left: 799px;
}

.yigirma{
    margin-top: 219px;
    margin-left: 985px;
}

/* Uchar yulduz */

.ucharyulduz{
    position: absolute;
    width: 600px;
    height: 3px;
    border-radius: 40%;
    background-color: #fff;
    margin-top: 70px;
    opacity: 0;

    animation: uchar 0.9s linear alternate 1;
    animation-delay: 8.6s;
    animation-fill-mode: 1;
}

@keyframes uchar {
    0%{
        transform: translateX(o);
    }

    100%{
        transform: translateX(2000px);
        opacity: .9;
    }
}